.mein{
    margin: 0 auto;
    margin-bottom: 0;
    padding: 0 60px;
    max-width: 1400px;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Montserrat';
    font-size: 1rem;
    .container1{
        display: grid;
        grid-template-columns: 450px 1fr;
        gap:40px;
        .left{
            background-color: var(--color-background-l);
            box-shadow: 2px 2px 5px rgba($color: #000000, $alpha: 0.4);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            padding: 50px 0;
            .img{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .ava{
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                    // margin: 20px 27%;
                    margin-bottom: 50px;
                    
                } 
                .txt{
                    position: absolute;
                    width: 240px;
                    top: -20px;
                    animation: rotate 12s linear infinite;
                }
            }
            .info{
                margin: 0 auto;
                p{
                    font-size: 1.1rem;
                    margin: 5px 40px;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    img{
                        width: 2rem;
                    }
                }  
            }
            
            .znaczki{
                display: flex;
                // gap: 5px;
                margin: 30px 15px 0 15px;
                justify-content: space-around;
                max-width: 300px;
                align-self: center;
                gap: 60px;
                a{
                    text-decoration: none;
                    color: #4582d2;
                    
                }
                i{
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

        }
        .right{
            h2{
                font-size: 2rem;
                margin-bottom: 10px;
            }
            p{
                font-size: 1.1rem;
                margin: 0;
            }
            h4{
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
            .languages{
                display: flex;
                margin-top: 150px;
                align-items: center;
                gap: 40px;
                flex-wrap: wrap;
                span{
                    display: flex;
                    gap: 30px;
                    align-items: center;
                   img{
                    width: 2.5rem;
                    } 
                }
                
                h4{
                    margin: 0;
                }

            }
        }
    }
    .container2{
        margin-top: 120px;
        h2{
            font-size: 2rem;
            margin: 0;
        }
        p{
            margin: 7px 0;
            font-size: 1.1rem;
        }
        .box1{
            margin: 30px 0;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
            border-radius: 30px;
            padding-bottom: 10px;
            // display: grid;
            // grid-template-columns: 2fr 3fr;
            display: flex;
            gap: 20px;
            padding: 30px;
            background-color: var(--color-background-l);
            .leftRight{
                display: flex;
            }
            img{
                // max-width: 500px;
                border-radius: 10px;
                width: 100%;
            }
            .opis{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .links{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 25px;
                    font-size: 1.2rem;
                    a{
                        text-decoration: none;
                        color: #4582d2;  
                        display: flex;
                        align-items: center;   
                        i{
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .box1:nth-child(even) > .leftRight{
            order: 2;
        }
    }
}
@media (max-width: 1010px) {
    .container2{
            .box1{
                flex-direction: column-reverse;
                img{
                    width: 100%;
                }
            }
        }
}
@media screen and (max-width: 890px){
    .mein{
        padding: 10px 50px;
        .container1{
            grid-template-columns: 1fr;
            .right{
                .languages{
                    margin-top: 20px;
                }
            }
        }
        

    }
}
// @media screen and (max-width: 750px){
//     .mein{
        
//     }
// }
@media screen and (max-width: 550px){
    .mein{
        padding: 5px 10px;
    }
}


@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}