footer {
    background-color: var(--color-background-l);
    color: var(--color-text);
    .container3 {
        margin: 0 auto;
        max-width: 1400px;
        margin-top: 7rem;
        padding: 0 60px;
        @media screen and (max-width: 550px){
            padding: 5px 10px;
            margin-top: 2rem;
        }
        h2 {
            padding-top: 50px;
            margin: 10px;
            font-size: 1.5rem;
        }

        .contacts {
            display: flex;
            padding: 0;
            padding-bottom: 15px;
            margin: 50px 0 0 0;
            justify-content: space-between;
            @media screen and (max-width: 1250px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: 750px){
                grid-template-columns: 1fr;
                gap: 10px;
            }
            .contact {
                display: flex;
                gap: 25px;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #4582d2;
                    font-size: 2rem;
                    height: 50px;
                    cursor: pointer;
                }

                span {
                    h4 {
                        font-size: 1.2rem;
                        margin: 0;
                    }

                    p {
                        margin: 5px 0;
                    }
                }
            }
        }

        

       

        @media screen and (max-width: 550px) {}
    }
}