.languages{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    justify-content: space-between;
    .language{
        color: white;
        cursor: pointer;
        border-radius: 50%;
        padding: 1rem 0.7rem;
        background-color: #2e60a2;
        transition: 0.5s;
        outline: none;
        border: 0;
        font-size: 0.7rem;
    }
    .language:hover{
        background-color: #183f72;
    }
}